version: '3.8'

services:
  mysql:
    image: mysql:8.3.0
    container_name: training-coupon-mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: training_coupon
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    restart: always
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
    networks:
      - app-network

  springboot-app:
    build:
      context: .
      dockerfile: Dockerfile
      # Add build arguments for cache control
      args:
        - GRADLE_USER_HOME=/cache
      cache_from:
        - training-coupon-springboot:latest
    image: training-coupon-springboot:latest
    container_name: training-coupon-springboot
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8080:8080"
    env_file:
      - ./modules/coupon-api-service/src/main/resources/application-dev.properties
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - app-network
volumes:
  mysql-data:

networks:
  app-network:
    driver: bridge